/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: #222831; }
  body:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.navigation {
  position: fixed;
  top: 0;
  min-width: 100%;
  opacity: 1;
  visibility: hidden; }
  .navigation.show {
    visibility: visible; }
  .navigation__ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #222831;
    opacity: 1;
    min-width: 22.5rem; }
    .navigation__ul li {
      font-size: 1.8rem;
      margin: 0 3px;
      line-height: 1.5;
      font-size: 3.5rem; }
      @media (min-width: 80em) {
        .navigation__ul li {
          margin-right: .5rem; } }

@-moz-document url-prefix() {
  @media (min-width: 120em) {
    .navigation__ul li {
      margin: .9rem 3px; } } }
    .navigation__ul li a {
      text-decoration: none;
      color: #eeeeee;
      transition: color .4s; }
      @media (min-width: 80em) {
        .navigation__ul li a {
          color: #eeeeee;
          margin: 0 .5rem;
          font-size: 2rem;
          margin-right: 2rem; } }
    @media (min-width: 80em) {
      .navigation__ul li a:hover {
        transition: .4s;
        color: #000; } }
    @media (min-width: 80em) {
      .navigation__ul--laptop {
        flex-flow: initial;
        background: inherit;
        align-items: inherit;
        justify-content: flex-end;
        height: auto; } }
  @media (min-width: 80em) {
    .navigation {
      visibility: visible;
      opacity: 1;
      position: fixed; } }

.menu-button {
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 1.5rem; }
  .menu-button .button-line {
    width: 2.8rem;
    height: 0.3rem;
    margin: 0 0 0.5rem 0;
    background: #000; }
  .menu-button.close {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out; }
    .menu-button.close .button-line:nth-child(1) {
      transform: rotate(45deg) translate(0.5rem, 0.5rem);
      background: #000; }
    .menu-button.close .button-line:nth-child(2) {
      opacity: 0; }
    .menu-button.close .button-line:nth-child(3) {
      transform: rotate(-45deg) translate(0.7rem, -0.6rem);
      background: #000; }
  @media (min-width: 47.6em) {
    .menu-button {
      padding: 0.4rem; } }
  @media (min-width: 80em) {
    .menu-button {
      display: none; } }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-width: 22.5rem;
  background: #00adb5; }
  @media (min-width: 47.6em) {
    header {
      min-width: 48rem; } }

.logo {
  display: flex;
  padding: 1.7rem 0;
  margin: 0 1.5rem;
  min-width: 22.5rem; }
  .logo a {
    text-decoration: none;
    font-size: 2rem;
    color: #eeeeee; }
    @media (min-width: 47.6em) {
      .logo a {
        font-size: 2.5rem; } }
    @media (min-width: 120em) {
      .logo a {
        font-size: 3rem;
        padding: .5rem; } }
    @media (min-width: 120em) {
      .logo a:hover {
        cursor: pointer; } }
  @media (min-width: 47.6em) {
    .logo {
      min-width: 48rem; } }

main {
  text-align: center;
  overflow: hidden;
  min-width: 22.5rem;
  margin-bottom: 13rem; }
  main .home__resume {
    font-size: 2rem;
    margin-top: 2rem;
    padding: .8rem;
    width: 51%;
    margin-left: 6rem; }
    main .home__resume a {
      text-decoration: none;
      color: #eeeeee;
      transition: color .4s; }
    @media (min-width: 80em) {
      main .home__resume a:hover {
        transition: .4s;
        color: #00adb5; } }
    @media (min-width: 120em) {
      main .home__resume a:hover {
        transition: .4s;
        color: #00adb5; } }
    @media (min-width: 47.6em) {
      main .home__resume {
        margin-left: 12rem;
        font-size: 2.5rem;
        margin-bottom: 1rem; } }
    @media (min-width: 64em) {
      main .home__resume {
        margin-left: 21rem;
        font-size: 3rem; } }
    @media (min-width: 80em) {
      main .home__resume {
        margin-left: 19.6rem; } }
    @media (min-width: 120em) {
      main .home__resume {
        margin-left: 44rem;
        width: 27%; } }
  main .social-media {
    padding: 1.3rem;
    margin-right: 1rem; }
    main .social-media a {
      font-size: 1.5rem;
      text-decoration: none; }
      @media (min-width: 47.6em) {
        main .social-media a {
          font-size: 2rem; } }
      @media (min-width: 64em) {
        main .social-media a {
          font-size: 2.5rem; } }
    main .social-media__github {
      color: #fff;
      margin-right: 1.5rem; }
    main .social-media__linkedin {
      color: #0077b5; }
    @media (min-width: 47.6em) {
      main .social-media {
        margin-right: 1rem; } }
  @media (min-width: 47.6em) {
    main {
      min-width: 48rem; } }

.main-heading {
  font-size: 2.3rem;
  padding: 1rem 0;
  margin-top: 10rem;
  min-width: 22.5rem;
  color: #fff; }
  @media (min-width: 47.6em) {
    .main-heading {
      font-size: 3rem; } }
  @media (min-width: 64em) {
    .main-heading {
      font-size: 3.7rem; } }

.sub-heading {
  font-size: 1.6rem;
  min-width: 22.5rem;
  color: #fff; }
  @media (min-width: 47.6em) {
    .sub-heading {
      font-size: 2.3rem; } }
  @media (min-width: 64em) {
    .sub-heading {
      font-size: 3rem; } }

.projects {
  margin-top: 6rem; }
  .projects__box {
    width: 90%;
    padding: 1rem;
    text-align: center;
    margin-bottom: 9rem;
    margin-left: 1rem;
    box-shadow: -2px 3px 35px 8px #9da5c7; }
    @media (min-width: 47.6em) {
      .projects__box {
        margin-left: 2.3rem; } }
    @media (min-width: 64em) {
      .projects__box {
        margin-left: 4rem; } }

@-moz-document url-prefix() {
  @media (min-width: 120em) {
    .projects__box {
      width: 100%; } }
  @media (min-width: 80em) {
    .projects__box {
      margin-left: 1rem;
      width: 100%; } } }
    @media (min-width: 80em) {
      .projects__box {
        margin-bottom: 0;
        margin-left: 1rem; } }
  .projects__header {
    font-size: 2.7rem;
    text-align: center;
    min-width: 22.5rem;
    margin-bottom: 5.5rem;
    color: #eee; }
    @media (min-width: 64em) {
      .projects__header {
        font-size: 3.4rem; } }
  .projects__project-name {
    margin: 2.5rem 0;
    font-size: 2.8rem;
    color: #eee; }
    @media (min-width: 64em) {
      .projects__project-name {
        font-size: 2.7rem; } }
  .projects__techstack-header {
    font-size: 2rem;
    margin: 1rem 0;
    color: #eee; }
    @media (min-width: 64em) {
      .projects__techstack-header {
        font-size: 2.7rem; } }
  .projects__project-links {
    display: flex;
    justify-content: space-around;
    margin: 4.5rem 0; }
  .projects__project-links li {
    font-size: 1.1rem; }
  .projects__project-links li > a {
    text-decoration: none;
    color: #eee;
    border: 3px solid #eee;
    padding: 0.9rem;
    font-size: 1.5rem;
    transition: border .4s; }
    @media (min-width: 64em) {
      .projects__project-links li > a {
        font-size: 1.8rem; } }
    @media (min-width: 80em) {
      .projects__project-links li > a:hover {
        border: 3px solid #00adb5; } }
    @media (min-width: 120em) {
      .projects__project-links li > a:hover {
        border: 3px solid #00adb5;
        transition: border .4s; } }
  .projects__project-description {
    padding: 1.2rem;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #eee; }
    @media (min-width: 64em) {
      .projects__project-description {
        font-size: 1.7rem; } }
    @media (min-width: 80em) {
      .projects__project-description {
        font-size: 1.3rem;
        line-height: 1.9;
        padding: .9rem; } }
  .projects__project-image {
    width: 60%;
    height: 25%;
    margin: 2rem 0; }

@-moz-document url-prefix() {
  @media (min-width: 80em) {
    .projects__project-image {
      width: 80%;
      height: 28%; } }
  @media (min-width: 120em) {
    .projects__project-image {
      width: 70%;
      height: 40%; } } }
  .projects__project-techstack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }

@-moz-document url-prefix() {
  @media (min-width: 120em) {
    .projects__project-techstack {
      grid-gap: 4rem; } } }
    .projects__project-techstack li {
      font-size: 1.4rem;
      color: #eee; }
      @media (min-width: 64em) {
        .projects__project-techstack li {
          font-size: 1.7rem; } }
  @media (min-width: 80em) {
    .projects__container {
      padding: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem; } }

.about {
  margin: 3rem 0; }
  .about__header {
    font-size: 2.7rem;
    text-align: center;
    color: #eee; }
    @media (min-width: 120em) {
      .about__header {
        font-size: 3.4rem; } }
  .about__description-box {
    margin-top: 2.5rem; }

@-moz-document url-prefix() {
  @media (min-width: 80em) {
    .about__description-box {
      padding: 3rem; } } }
    @media (min-width: 80em) {
      .about__description-box {
        padding: 3rem; } }
    @media (min-width: 120em) {
      .about__description-box {
        padding: 3rem; } }
  .about__intro-header {
    margin: 0 1rem;
    font-size: 2rem;
    color: #eee; }
    @media (min-width: 120em) {
      .about__intro-header {
        font-size: 4rem; } }
  .about__skills-header {
    margin: 0 1rem;
    font-size: 2rem;
    color: #eee; }
    @media (min-width: 120em) {
      .about__skills-header {
        font-size: 4rem; } }
  .about__description {
    padding: 1.2rem;
    line-height: 1.7;
    font-size: 1.2rem;
    color: #eee; }
    @media (min-width: 120em) {
      .about__description {
        margin: 1rem 0;
        line-height: 1.8;
        padding: 1.4rem;
        font-size: 1.3rem; } }

.contact {
  margin: 5rem 0; }
  .contact__header {
    font-size: 2.7rem;
    text-align: center;
    color: #eee; }
  .contact__resume {
    font-size: 2rem;
    margin-top: 2rem;
    padding: .8rem;
    margin-left: 0rem;
    text-align: center;
    transition: color .4s; }
    .contact__resume a {
      text-decoration: none;
      color: #eee; }
    @media (min-width: 80em) {
      .contact__resume a:hover {
        color: #00adb5;
        transition: color .4s; } }
    @media (min-width: 120em) {
      .contact__resume a:hover {
        color: #00adb5;
        transition: color .4s; } }
    @media (min-width: 47.6em) {
      .contact__resume {
        width: 50%;
        margin-left: 12rem; } }
    @media (min-width: 64em) {
      .contact__resume {
        margin-left: 30rem;
        width: 30%; } }
    @media (min-width: 80em) {
      .contact__resume {
        margin-left: 28rem; } }
    @media (min-width: 120em) {
      .contact__resume {
        width: 20%;
        margin-left: 48rem; } }
  .contact__info-box {
    margin-top: 2.5rem; }
    .contact__info-box__social-media {
      padding: 1.2rem;
      line-height: 1.5;
      font-size: 1.2rem;
      text-align: center; }
      .contact__info-box__social-media__linkedin-header {
        font-size: 1.5rem;
        color: #eee; }
      .contact__info-box__social-media__github-header {
        font-size: 1.5rem;
        color: #eee; }
      .contact__info-box__social-media__linkedin {
        color: #0077b5; }
      .contact__info-box__social-media__github {
        color: #eee;
        margin-left: .5rem; }
      .contact__info-box__social-media a {
        text-decoration: none;
        color: #eee;
        font-size: 1.3rem; }
        @media (min-width: 80em) {
          .contact__info-box__social-media a:hover {
            color: #00adb5;
            transition: color .4s; } }
        @media (min-width: 120em) {
          .contact__info-box__social-media a:hover {
            color: #00adb5;
            transition: color .4s; } }

.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem; }
  .footer__scroll-back-to-top {
    font-size: 1.8rem;
    padding: 1.5rem;
    text-align: center; }
    .footer__scroll-back-to-top a {
      color: #eee;
      text-decoration: none; }
      @media (min-width: 80em) {
        .footer__scroll-back-to-top a:hover {
          color: #00adb5;
          transition: color .4s; } }
      @media (min-width: 120em) {
        .footer__scroll-back-to-top a:hover {
          color: #00adb5;
          transition: color .4s; } }
