.about {
  margin: 3rem 0;

  &__header {
    font-size: 2.7rem;
    text-align: center;
    color: #eee;

    @include respond(monitor) {
      font-size: 3.4rem;
    }
  }

  &__description-box {
    margin-top: 2.5rem;

    @include firefox-only {

      @include respond(laptop) {
        padding: 3rem;
      }
    }

    @include respond(laptop) {
      padding: 3rem;
    }

    @include respond(monitor) {
      padding: 3rem;
    }
  }

  &__intro-header {
    margin: 0 1rem;
    font-size: 2rem;
    color: #eee;

    @include respond(monitor) {
      font-size: 4rem;
    }
  }

  &__skills-header {
    margin: 0 1rem;
    font-size: 2rem;
    color: #eee;

    @include respond(monitor) {
      font-size: 4rem;
    }
  }

  &__description {
    padding: 1.2rem;
    line-height: 1.7;
    font-size: 1.2rem;
    color: #eee;

    @include respond(monitor) {
      margin: 1rem 0;
      line-height: 1.8;
      padding: 1.4rem;
      font-size: 1.3rem;
    }
  }
}