.contact {
  margin: 5rem 0;

  &__header {
    font-size: 2.7rem;
    text-align: center;
    color: #eee;
  }

  &__resume {
    font-size: 2rem;
    margin-top: 2rem;
    padding: .8rem;
    margin-left: 0rem;
    text-align: center;
    transition: color .4s;

    a {
      text-decoration: none;
      color: #eee;
    }

    a:hover {
      @include respond(laptop) {
        color: #00adb5;
        transition: color .4s;
      }

      @include respond(monitor) {
        color: #00adb5;
        transition: color .4s;
      }
    }

    @include respond(tablet-portrait) {
      width: 50%;
      margin-left: 12rem;
    }

    @include respond(tablet-big) {
      margin-left: 30rem;
      width: 30%;
    }

    @include respond(laptop) {
      margin-left: 28rem;
    }

    @include respond(monitor) {
      width: 20%;
      margin-left: 48rem;
    }
  }

  &__info-box {
    margin-top: 2.5rem;

    &__social-media {
      padding: 1.2rem;
      line-height: 1.5;
      font-size: 1.2rem;
      text-align: center;

      &__linkedin-header {
        font-size: 1.5rem;
        color: #eee;
      }

      &__github-header {
        font-size: 1.5rem;
        color: #eee;
      }

      &__linkedin {
        color: #0077b5;
      }

      &__github {
        color: #eee;
        margin-left: .5rem;
      }

      a {
        text-decoration: none;
        color: #eee;
        font-size: 1.3rem;

        &:hover {
          @include respond(laptop) {
            color: #00adb5;
            transition: color .4s;
          }

          @include respond(monitor) {
            color: #00adb5;
            transition: color .4s;
          }
        }

      }
    }
  }
}