.contact {
  margin: 5rem 0;

  &__header {
    font-size: 2.7rem;
    text-align: center;
    color: $font-color;
    font-weight: bold;
  }

  &__resume {
    font-size: 2rem;
    margin-top: 2rem;
    padding: .8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    transition: $transition-color;

    a {
      text-decoration: none;
      color: $font-color;
      border: 3px solid $font-color;
      padding: 0.9rem;
      font-size: 1.5rem;
      transition: border .4s;
    }

    a:hover {
      @include respond(laptop) {
        border: 3px solid $blue-color;
        transition: border .4s;
      }

      @include respond(monitor) {
        border: 3px solid $blue-color;
        transition: border .4s;
      }
    }

    @include respond(tablet-portrait) {
      width: 50%;
      margin-left: 12rem;
    }

    @include respond(tablet-big) {
      margin-left: 30rem;
      width: 30%;
    }

    @include respond(laptop) {
      margin-left: 28rem;
    }

    @include respond(monitor) {
      width: 20%;
      margin-left: 48rem;
    }
  }

  &__info-box {
    margin-top: 2.5rem;

    &__social-media {
      padding: 1.2rem;
      line-height: 1.5;
      font-size: 1.2rem;
      text-align: center;

      &__linkedin-header {
        font-size: 1.5rem;
        color: $font-color;
        margin-bottom: 1rem;
      }

      &__github-header {
        font-size: 1.5rem;
        color: $font-color;
        margin-bottom: 1rem;
      }

      &__linkedin {
        color: #0077b5;
      }

      &__github {
        color: $font-color;
        margin-left: .5rem;
      }

      a {
        text-decoration: none;
        color: $font-color;
        font-size: 1.3rem;

        &:hover {
          @include respond(laptop) {
            color: $blue-color;
            transition: $transition-color;
          }

          @include respond(monitor) {
            color: $blue-color;
            transition: $transition-color;
          }
        }

      }
    }
  }
}