.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;

  &__scroll-back-to-top {
    font-size: 1.8rem;
    padding: 1.5rem;
    text-align: center;

    a {
      text-decoration: none;
      color: $font-color;
      border: 3px solid $font-color;
      padding: 0.9rem;
      font-size: 1.5rem;
      transition: $transition-border;
    }

    a:hover {
      @include respond(laptop) {
        border: $border-setup $blue-color;
        transition: $transition-border;
      }

      @include respond(monitor) {
        border: $border-setup $blue-color;
        transition: $transition-border;
      }
    }
  }
}