.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;

  &__scroll-back-to-top {
    font-size: 1.8rem;
    border: .2rem solid #fff;
    padding: 1.5rem;
    text-align: center;

    &:hover {
      @include respond(laptop) {
        border: 3px solid #0077b5;
      }

      @include respond(monitor) {
        border: 3px solid #0077b5;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}