.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;

  &__scroll-back-to-top {
    font-size: 1.8rem;
    padding: 1.5rem;
    text-align: center;

    a {
      color: #eee;
      text-decoration: none;

      &:hover {
        @include respond(laptop) {
          color: #00adb5;
          transition: color .4s;
        }

        @include respond(monitor) {
          color: #00adb5;
          transition: color .4s;
        }
      }
    }

  }
}