main {
  text-align: center;
  overflow: hidden;
  min-width: 22.5rem;

  .home__resume {
    font-size: 2rem;
    margin-top: 2rem;
    // border: .3rem solid #fff;
    padding: .8rem;
    width: 51%;
    margin-left: 6rem;

    a {
      text-decoration: none;
      color: #eeeeee;
      transition: color .4s;
    }

    a:hover {
      @include respond(laptop) {
        transition: .4s;
        color: #00adb5;

      }

      @include respond(monitor) {
        transition: .4s;
        color: #00adb5;
      }
    }

    @include respond(tablet-portrait) {
      margin-left: 12rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    @include respond(tablet-big) {
      margin-left: 21rem;
      font-size: 3rem;
    }

    @include respond(laptop) {
      margin-left: 19.6rem;
      // width: 25%;
    }



    @include respond(monitor) {
      margin-left: 44rem;
      width: 27%;
    }
  }

  .social-media {
    padding: 1.3rem;
    margin-right: 1rem;

    a {
      font-size: 1.5rem;
      text-decoration: none;

      @include respond(tablet-portrait) {
        font-size: 2rem;
      }

      @include respond(tablet-big) {
        font-size: 2.5rem;
      }

    }

    &__github {
      color: #fff;
      margin-right: 1.5rem;
    }

    &__linkedin {
      color: #0077b5;
    }

    @include respond(tablet-portrait) {
      margin-right: 1rem;
    }
  }

  @include respond(tablet-portrait) {
    min-width: 48rem;
  }
}

.main-heading {
  font-size: 2.3rem;
  padding: 1rem 0;
  margin-top: 10rem;
  min-width: 22.5rem;
  color: #fff;

  @include respond(tablet-portrait) {
    font-size: 3rem;
  }

  @include respond(tablet-big) {
    font-size: 3.7rem;
  }
}

.sub-heading {
  font-size: 1.6rem;
  min-width: 22.5rem;
  color: #fff;

  @include respond(tablet-portrait) {
    font-size: 2.3rem;
  }

  @include respond(tablet-big) {
    font-size: 3rem;
  }
}