main {
  text-align: center;
  overflow: hidden;
  min-width: 22.5rem;

  .home__resume {
    font-size: 2rem;
    margin-top: 2rem;
    border: .3rem solid #fff;
    padding: .8rem;
    max-width: 51%;
    margin-left: 6rem;

    a {
      text-decoration: none;
      color: #fff;
    }

    @include respond(tablet-portrait) {
      margin-left: 11rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  .social-media {
    padding: 1.3rem;

    a {
      font-size: 1.5rem;
      text-decoration: none;

      @include respond(tablet-portrait) {
        font-size: 2rem;
      }

    }

    &__github {
      color: #fff;
      margin-right: 1.5rem;
    }

    &__linkedin {
      color: #0077b5;
    }

    @include respond(tablet-portrait) {
      margin-right: 1rem;
    }
  }

  @include respond(tablet-portrait) {
    min-width: 48rem;
  }
}

.main-heading {
  font-size: 2.3rem;
  padding: 1rem 0;
  margin-top: 10rem;
  min-width: 22.5rem;
  color: #fff;

  @include respond(tablet-portrait) {
    font-size: 3rem;
  }
}

.sub-heading {
  font-size: 1.6rem;
  min-width: 22.5rem;
  color: #fff;

  @include respond(tablet-portrait) {
    font-size: 2.3rem;
  }
}