main {
  text-align: center;
  overflow: hidden;
  min-width: 22.5rem;

  .social-media {
    padding: 1.3rem;

    a {
      font-size: 1.5rem;

    }
  }
}

.main-heading {
  font-size: 2.3rem;
  padding: 1rem 0;
  margin-top: 10rem;
  min-width: 22.5rem;
}

.sub-heading {
  font-size: 1.6rem;
  min-width: 22.5rem;
}