.navigation {
  // navigation overlay
  position: fixed;
  top: 0;
  min-width: 100%;
  opacity: 1;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &__ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: $background-color;
    opacity: 1;
    min-width: 22.5rem;

    li {
      font-size: 1.8rem;
      margin: 0 3px;
      line-height: 1.5;
      font-size: 3.5rem;

      @include respond(laptop) {
        margin-right: .5rem;

      }

      @include firefox-only {
        @include respond(monitor) {
          margin: .9rem 3px;
        }
      }
    }

    li a {
      text-decoration: none;
      color: $font-color;
      transition: $transition-color;

      @include respond(laptop) {
        color: $font-color;
        margin: 0 .5rem;
        font-size: 2rem;
        margin-right: 2rem;
      }
    }

    li a:hover {
      @include respond(laptop) {
        transition: .4s;
        color: #000;
      }
    }

    &--laptop {

      @include respond(laptop) {
        flex-flow: initial;
        background: inherit;
        align-items: inherit;
        justify-content: flex-end;
        height: auto;
      }
    }


  }

  @include respond(laptop) {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
}

.menu-button {
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 1.5rem;

  .button-line {
    width: 2.8rem;
    height: 0.3rem;
    margin: 0 0 0.5rem 0;
    background: #000;
  }

  // rotate into an X with button lines
  &.close {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;

    .button-line {

      // line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
        background: $font-color;
      }

      // line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.7rem, -0.6rem);
        background: $font-color;
      }
    }
  }

  @include respond(tablet-portrait) {
    padding: 0.4rem;
  }

  @include respond(laptop) {
    display: none;
  }
}

// HEADER

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-width: 22.5rem;
  background: $blue-color;

  @include respond(tablet-portrait) {
    min-width: 48rem;
  }
}

.logo {
  display: flex;
  padding: 1.7rem 0;
  margin: 0 1.5rem;
  min-width: 22.5rem;

  a {
    text-decoration: none;
    font-size: 2rem;
    color: $font-color;

    @include respond(tablet-portrait) {
      font-size: 2.5rem;
    }

    @include respond(monitor) {
      font-size: 3rem;
      padding: .5rem;
    }

    &:hover {
      @include respond(monitor) {
        cursor: pointer;
      }
    }
  }

  @include respond(tablet-portrait) {
    min-width: 48rem;
  }
}

// HEADER END