.projects {
  margin-top: 6rem;

  &__box {
    width: 90%;
    padding: 1rem;
    text-align: center;
    margin-bottom: 9rem;
    margin-left: 1rem;
    box-shadow: -2px 3px 35px 8px rgba(157, 165, 199, 1);

    @include respond(tablet-portrait) {
      margin-left: 2.3rem;
    }

    @include respond(tablet-big) {
      margin-left: 4rem;
    }

    @include firefox-only {

      @include respond(monitor) {
        width: 100%;
      }

      @include respond(laptop) {
        margin-left: 1rem;
        width: 100%;
      }
    }

    @include respond(laptop) {
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }

  &__header {
    font-size: 2.7rem;
    text-align: center;
    min-width: 22.5rem;
    margin-bottom: 5.5rem;
    color: #eee;

    @include respond(tablet-big) {
      font-size: 3.4rem;
    }
  }

  &__project-name {
    margin: 2.5rem 0;
    font-size: 2.8rem;
    color: #eee;

    @include respond(tablet-big) {
      font-size: 2.7rem;
    }
  }

  &__techstack-header {
    font-size: 2rem;
    margin: 1rem 0;
    color: #eee;

    @include respond(tablet-big) {
      font-size: 2.7rem;
    }
  }

  &__project-links {
    display: flex;
    justify-content: space-around;
    margin: 4.5rem 0;
  }

  &__project-links li {
    font-size: 1.1rem;
  }

  &__project-links li>a {
    text-decoration: none;
    color: #eee;
    border: 3px solid #eee;
    padding: 0.9rem;
    font-size: 1.5rem;
    transition: border .4s;

    @include respond(tablet-big) {
      font-size: 1.8rem;
    }

    &:hover {
      @include respond(laptop) {
        border: 3px solid #00adb5;
      }

      @include respond(monitor) {
        border: 3px solid #00adb5;
        transition: border .4s;
      }
    }
  }

  &__project-description {
    padding: 1.2rem;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #eee;

    @include respond(tablet-big) {
      font-size: 1.7rem;
    }

    @include respond(laptop) {
      font-size: 1.3rem;
      line-height: 1.9;
      padding: .9rem;
    }
  }

  &__project-image {
    width: 60%;
    height: 25%;
    margin: 2rem 0;

    @include firefox-only {

      @include respond(laptop) {
        width: 80%;
        height: 28%;
      }

      @include respond(monitor) {
        width: 70%;
        height: 40%;
      }
    }
  }

  &__project-techstack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    @include firefox-only {
      @include respond(monitor) {
        grid-gap: 4rem;
      }
    }

    li {
      font-size: 1.4rem;
      color: #eee;

      @include respond(tablet-big) {
        font-size: 1.7rem;
      }
    }
  }

  &__container {
    @include respond(laptop) {
      padding: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}