.projects {
  margin-top: 6rem;

  &__box {
    width: 90%;
    padding: 1rem;
    text-align: center;
    border: 2px solid #fff;
    margin-bottom: 9rem;
    margin-left: 1rem;
    box-shadow: -2px 3px 35px 8px rgba(157, 165, 199, 1);

    // box-shadow: 10px 10px 13px -6px rgba(170, 204, 255, 1);
    // border-bottom: .3rem solid #43b8ff;

    @include respond(tablet-portrait) {
      margin-left: 2.3rem;
    }
  }

  &__header {
    font-size: 2.7rem;
    text-align: center;
    min-width: 22.5rem;
    margin-bottom: 3rem;
    color: #fff;
  }

  &__project-name {
    margin-top: 3rem;
    font-size: 2rem;
    color: #fff;
  }

  &__techstack-header {
    font-size: 2rem;
    margin: 1rem 0;
    color: #fff;
  }

  &__project-links {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
  }

  &__project-links li {
    font-size: 1.1rem;
  }

  &__project-links li>a {
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 0.9rem;
    font-size: 1.5rem;
  }

  &__project-description {
    padding: 1.2rem;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #fff;
  }

  &__project-image {
    width: 85%;
    height: 50%;
    margin-top: 1.5rem;
  }

  &__project-techstack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    li {
      font-size: 1.4rem;
      color: #fff;
    }
  }
}