.projects {
  margin-top: 6rem;

  &__box {
    width: 90%;
    padding: 1rem;
    text-align: center;
    border: 2px solid #fff;
    margin-bottom: 9rem;
    margin-left: 1rem;
    box-shadow: -2px 3px 35px 8px rgba(157, 165, 199, 1);

    @include respond(tablet-portrait) {
      margin-left: 2.3rem;
    }

    @include respond(tablet-big) {
      margin-left: 4rem;
    }
  }

  &__header {
    font-size: 2.7rem;
    text-align: center;
    min-width: 22.5rem;
    margin-bottom: 3rem;
    color: #fff;

    @include respond(tablet-big) {
      font-size: 3.4rem;
    }
  }

  &__project-name {
    margin: 2.5rem 0;
    font-size: 2rem;
    color: #fff;

    @include respond(tablet-big) {
      font-size: 2.7rem;
    }
  }

  &__techstack-header {
    font-size: 2rem;
    margin: 1rem 0;
    color: #fff;

    @include respond(tablet-big) {
      font-size: 2.7rem;
    }
  }

  &__project-links {
    display: flex;
    justify-content: space-around;
    margin: 4.5rem 0;
  }

  &__project-links li {
    font-size: 1.1rem;
  }

  &__project-links li>a {
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 0.9rem;
    font-size: 1.5rem;

    @include respond(tablet-big) {
      font-size: 1.8rem;
    }

    &:hover {
      @include respond(monitor) {
        border: 3px solid #0077b5;
      }
    }
  }

  &__project-description {
    padding: 1.2rem;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #fff;

    @include respond(tablet-big) {
      font-size: 1.7rem;
    }
  }

  &__project-image {
    width: 85%;
    height: 50%;
    margin: 2rem 0;

  }

  &__project-techstack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    li {
      font-size: 1.4rem;
      color: #fff;

      @include respond(tablet-big) {
        font-size: 1.7rem;
      }
    }
  }

  &__container {
    @include respond(laptop) {
      padding: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}