// color variables
$background-color: #222831;
$font-color: #eee;
$blue-color: #00adb5;
$background-glow: rgba(157, 165, 199, 1);

// font variables
$small-cap: small-caps;

// border
$border-setup: 3px solid;

// transition
$transition-color: color .4s;
$transition-border: border .4s;